flask
flask-cors
pandas
numpy
scikit-learn
joblib
pymongo==4.12.1
certifi
python-dotenv
scipy
langchain
langchain-community
langchain-core
langchain-fireworks
langchain-mongodb
langgraph
langgraph-checkpoint-mongodb
typing-extensions
xgboost
torch
huggingface_hub==0.16.4
sentence-transformers==2.2.2
InstructorEmbedding

